.header {
  padding: var(--padding);
  background-color: var(--backgroundColor);
  border-radius: var(--borderRadius);
  color: var(--color);
  box-shadow: var(--boxShadow);

  .topFriend {
    color: #ffd700;
  }
}

@media (max-width: 450px) {
  .header {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}